@media (max-width: 900px) {
    #page-home {
        background-position-x: 100vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%); 
    }

    #page-home main {
        align-items: center;
    }

    #page-results .cards{
        grid-template-columns: 1fr;
    }

    #page-create-point .field-group{
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field{
        margin: 12px 0;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 45vw;
    }
}

@media (max-height: 1000px) {
    #page-home {
        background-position-y: 24vh;
        background-size: 48%;
        
    }
}
