<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/responsive.css">
        {% block styles %}{% endblock styles %}
        {% block title %}
            <title>Ecoleta</title>
        {% endblock title %}
    </head>
    <body>
        <div id="{{pageId}}">

            {% block content %}{% endblock content %}

        </div>

        {% block modal %}{% endblock modal %}

        {% block script %}{% endblock script %}

    </body>
</html>